<div class="container">
  <ul class="nav nav-pills" [hidden]="!authenticated()">
    <a class="header" routerLinkActive="active" routerLink="/home">Home</a>
    <a class="header" routerLinkActive="active" routerLink="/garage">Garage</a>
    <a class="header" (click)="logout()" routerLink="/logout">Logout</a>
  </ul>
  <ul class="nav nav-pills" [hidden]="authenticated()">
    <a class="header" routerLinkActive="active" routerLink="/home">Home</a>
    <a class="header" routerLinkActive="active" routerLink="/garage">Garage</a>
    <a class="header" routerLinkActive="active" routerLink="/login">Login</a>
  </ul>
</div>
  <div class="container">
    
    <router-outlet></router-outlet>
  </div>

